; ================================
;  celery beat supervisor example
; ================================

[program:celerybeat]

environment={% for k, v in app_env_vars.iteritems() %}{% if not loop.first %},{% endif %}{{ k }}="{{ v }}"{% endfor %}

; Set full path to celery program if using virtualenv
command={{app_env_dir}}/bin/python celery beat -A {{app_name}} -s {{app_log_dir}}/beat.db --loglevel=INFO --pidfile=/tmp/celery.pid

directory={{app_code_dir}}
user={{app_user}}
numprocs=1
stdout_logfile={{app_log_dir}}/celerybeat.log
stderr_logfile={{app_log_dir}}/celerybeat.log
autostart=true
autorestart=true
startsecs=10

; if rabbitmq is supervised, set its priority higher
; so it starts first
priority=999
